<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
    <title>cryptoTracker</title>
  </head>
  <body>
    <div id="app">
      <svg height="440" width="420" viewBox="0 0 440 440">
        <g v-for="bar in barArray">
          <text
            x="0"
            v-bind:y="405 - bar.yPos"
          >
            {{ bar.text }}
          </text>
          <rect
            x="36"
            v-bind:y="400 - bar.yPos"
            height="1"
            width="390"
          >
          </rect>
        </g>
        <g v-for="price in pricesNorm">
          <text
            v-bind:x="price.counter + 3"
            v-bind:y="390 - price.normHigh"
          >
            {{ price.priceHigh }}
          </text>
          <rect 
            class="bar"
            v-bind:x="price.counter" 
            v-bind:y="400 - price.normHigh" 
            width="30" 
            v-bind:height="price.normHigh"
          >
          </rect>
          <text
            v-bind:x="price.counter"
            y="420"
          >
            {{ price.date }}
          </text>
        </g>
      </svg>
      <div>
        <button v-on:click="changeMode('daily')">Daily</button>
        <button v-on:click="changeMode('hourly')">Hourly</button>
      </div>
      <div class="container">
        <div>
          <div class="box title" v-on:click="titleClick('name')">Name</div>
          <div class="box title" v-on:click="titleClick('price')">Current Price</div>
          <div class="box title" v-on:click="titleClick('hourly')">Hourly Change</div>
          <div class="box title" v-on:click="titleClick('24')">24 Hour Change</div>
          <div class="box title" v-on:click="titleClick('weekly')">Weekly Change</div>
        </div>
        <div v-for="coin in coinsArray">
          <div class="box name" v-on:click="handleClick(coin)">{{ coin.name }}</div>
          <div class="box">{{ coin.quotes.USD.price }}</div>
          <div class="box">{{ coin.quotes.USD.percent_change_1h }}</div>
          <div class="box">{{ coin.quotes.USD.percent_change_24h }}</div>
          <div class="box">{{ coin.quotes.USD.percent_change_7d }}</div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="app.js"></script>
  </body>
</html>
