<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
    <title>cryptoTracker</title>
  </head>
  <body>
    <div id="app">
      <svg height="440" width="400" viewBox="0 0 400 400">
        <g v-for="price in pricesNorm">
          <text
            v-bind:x="price.counter + 3"
            v-bind:y="390 - price.normHigh"
          >
            {{ price.priceHigh }}
          </text>
          <rect 
            v-bind:x="price.counter" 
            v-bind:y="400 - price.normHigh" 
            width="30" 
            v-bind:height="price.normHigh"
          >
          </rect>
          <text
            v-bind:x="price.counter"
            y="420"
          >
            {{ price.date }}
          </text>
        </g>
      </svg>
      <div v-for="coin in coins">
        <p v-on:click="handleClick(coin)">{{ coin.name }} - {{ coin.quotes.USD.price }}</p>
      </div>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="app.js"></script>
  </body>
</html>
